:root {
  --background-primary: #1c1c1f;
  --spacing-large: 6rem;
  --spacing-small: 2rem;
  --text-link: #aaddff;
  --text-link-muted: #5a8daf;
  --text-muted: #acaca0;
  --text-primary: #fcfcf0;
}

a {
  color: var(--text-link);
}

body {
  background: var(--background-primary);
  color: var(--text-primary);
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  margin: var(--spacing-small) var(--spacing-large);
}

footer {
  color: var(--text-muted);
  font-size: small;
  margin-top: var(--spacing-large);
}

footer a {
  color: var(--text-link-muted);
}

main {
  margin: var(--spacing-small);
}

nav li, nav li ul, nav li ul li {
  display: inline-block;
  padding: 0;
}

nav li::before {
  content: "| ";
}

nav li:first-of-type::before {
  content: none;
}

nav li ul li::before {
  content: "- ";
}

nav li ul li:first-of-type::before {
  content: "(";
}

nav li ul li:last-of-type::after {
  content: ")";
}
